dsmode: local
local-hostname: "{{ vm_name | replace('_', '-') }}"
network-interfaces: |
  auto lo
  iface lo inet loopback

{% if vm_network_mode == "dhcp" %}
  iface eth0 inet dhcp
{% endif %}
{% if vm_network_mode == "static" %}
  iface eth0 inet static
    address {{ vm_network_ip_address }}
    netmask {{ vm_network_netmask }}
    gateway {{ vm_network_gateway }}
    dns-nameservers {{ vm_network_dns_nameservers | join(' ') }}
{% endif %}
