Content-Type: multipart/mixed; boundary="//"
MIME-Version: 1.0

--//
Content-Type: text/cloud-config; charset="us-ascii"
MIME-Version: 1.0
Content-Transfer-Encoding: 7bit
Content-Disposition: attachment; filename="cloud-config.txt"

#cloud-config

# Tested with Ubuntu 22.04 cloud image.

# TEMP only for debugging
# password: "password"
# chpasswd: { expire: False }
# ssh_pwauth: True

hostname: {{ vm_name | replace("_", "-") }}
# fqdn: {{ vm_name | replace("_", "-") }}.example.com
manage_etc_hosts: localhost
ssh_authorized_keys: {{ vm_ssh_authorized_keys }}
disable_root: false
ssh_import_id: {{ vm_ssh_import_id }}
# we cannot use "apt install" or "apt update",
# the network is not up yet (we need to rename iface first)
package_update: false
package_upgrade: false
# packages:
#  - qemu-guest-agent
package_reboot_if_required: true
# runcmd runs only on first boot
runcmd:
  - echo 'GRUB_CMDLINE_LINUX="nomodeset"' >> /etc/default/grub
  - echo 'GRUB_GFXPAYLOAD_LINUX="1024x768"' >> /etc/default/grub
  - echo 'GRUB_DISABLE_LINUX_UUID=true' >> /etc/default/grub
  - echo 'GRUB_CMDLINE_LINUX="$GRUB_CMDLINE_LINUX net.ifnames=0 biosdevname=0"' >> /etc/default/grub
  - update-grub

  - |
    echo DBG before iface-rename;
    ip link;
    ip addr;
  # rename network interface
  # cloud-init will create /etc/netplan/50-*.cfg file, just apply it.
  - |
    IFACE=$(ip link | grep '^2\: ' | awk '{print $2}' | sed 's/\://');
    echo IFACE=$IFACE;
    ip link set dev $IFACE down;
    ip link set dev $IFACE name eth0;
    ip link set dev eth0 up;
    netplan apply;
  - |
    echo DBG after iface-rename;
    ip link;
    ip addr;

  # pain, apt-get update seems to be run at wrong time,
  # and it does not know about qemu-guest-agent package.
  - |
    for ii in $(seq 100)
    do
      if (apt-cache pkgnames | grep '^qemu-guest-agent$')
      then
        echo OK apt-cache knows about qemu-guest-agent
        break
      else
        echo Waiting on apt-cache and qemu-guest-agent
        sleep 1
        # this is what cloud-init runs
        eatmydata apt-get --option=Dpkg::Options::=--force-confold --option=Dpkg::options::=--force-unsafe-io --assume-yes --quiet update
      fi
    done
  - DEBIAN_FRONTEND=noninteractive apt-get install -y --no-install-recommends qemu-guest-agent

  - echo message CC-runcmd-jc

# bootcmd runs on every boot
# bootcmd:
# qemu-guest-agent is not yet installed - packages are installed later
# network is not yet up
#  - apt update
#  - DEBIAN_FRONTEND=noninteractive apt install -y qemu-guest-agent
#  - [ systemctl, restart, --no-block, qemu-guest-agent ]
# scripts_user:
# write_files: []
final_message: |
  cloud-init has finished
  version: $version
  timestamp: $timestamp
  datasource: $datasource
  uptime: $uptime
--//
Content-Type: text/x-shellscript; charset="us-ascii"
MIME-Version: 1.0
Content-Transfer-Encoding: 7bit
Content-Disposition: attachment; filename="userdata.txt"

#!/bin/bash
  # mkdir test-userscript
  # touch /test-userscript/userscript.txt
  # echo "Created by bash shell script" >> /test-userscript/userscript.txt
  # echo which qemu-ga >> /test-userscript/userscript.txt
  # which qemu-ga >> /test-userscript/userscript.txt 2>1
  systemctl start qemu-guest-agent
--//--
